/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap'); */

:root{
  --color:#6C5CE7;
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s linear;
  text-decoration: none;
}



body{
  overflow-x: hidden;
}
.team{
  min-height: 50vh;
  width:100vw;
  text-align: center;
  background-color: #222;;
}

.team .heading{
  color:#fff;
}

.team .heading::before, .team .heading::after{
  border-color:#fff;
}

.team .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.team .row .card{
  height:25rem;
  width:20rem;
  background:#fff;
  text-align: center;
  margin:2rem 3rem;
  position: relative;
  overflow: hidden;
  -webkit-box-reflect: below .2rem linear-gradient(transparent 70%, #0004);
}

.team .row .card .image{
  margin:1rem 0;
  padding-top: 4rem;
}

.team .row .card .image img{
  height:12rem;
  width:8rem;
  border-radius: 1%;
  border:.5rem solid #fff;
  box-shadow: 0 0 .5rem rgba(0,0,0,.3);
  object-fit: cover;
}

.team .row .card .info h3{
  font-size: 2rem;
  color:#333;
}

.team .row .card .info span{
  font-size: 1.8rem;
  color:var(--color);
}

.team .row .card .info .icons a{
  margin-top: 4rem;
  padding:0 1rem;
  font-size: 2rem;
  color:#333;
}

.team .row .card .info .icons a:hover{
  color:var(--color);
}

.team .row .card::before, .team .row .card::after{
  content: '';
  position: absolute;
  border-radius: 50%;
  height:10rem;
  width:10rem;
  z-index: -1;
}

.team .row .card::before{
  background:var(--color);
  top:-3rem; right: -4rem;
}

.team .row .card::after{
  background:#ccc;
  bottom:-3rem; left: -4rem;
}




